
*{
    font-size: 10pt;
    font-family: sans-serif;
    font-weight: 300;
}

text{
    font-size: 10pt;
    font-family: sans-serif;
    font-weight: 300;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

hr {height:1px; 
    border-width:0; 
    background-color:lightgray;}


table {
    border-collapse: collapse;
}

th, td{
    padding: 4px 6px; /* tb lr */
    border: 1px solid #eeeeee;
}

th{
    font-weight: 600;
}

